---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Personal",
    price: "Free",
    popular: false,
    features: [
      "Lifetime free",
      "1 Recording",
      "Unlimited Subtitles",
    ],
    button: {
      text: "Get Started",
      link: "https://apps.apple.com/us/app/subtitlesirl/id6479726952",
    },
  },
  {
    name: "Unlimited History",
    price: {
      monthly: "$0.99",
    },
    popular: true,
    features: [
      "All Free Features",
      "Unlimited Recordings",
      "Unlimited Transcripts",
      "Unlimited Search",
      "Listen to your Conversations",
      "Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "https://apps.apple.com/us/app/subtitlesirl/id6479726952",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All Pro Features",
      "Request New Features",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
