---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Welcome to SubtitlesIRL: Where Every Word Matters",
    description:
      "Imagine Life With Subtitles: Ever caught yourself wishing for subtitles in real-life conversations, like in the movies? Welcome to SubtitlesIRL, where we turn that wish into reality. Powered by the revolutionary Vision Pro technology, SubtitlesIRL is your bridge to never missing a word and connecting on a deeper level in every conversation.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Why Choose SubtitlesIRL?",
    description:
      "Live Subtitles Anywhere: From the lively chatter of a café to the serene whispers of a park walk, SubtitlesIRL keeps you in the conversation. Experience life with subtitles and embrace every moment to its fullest.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Listen & Read",
    description:
      "Ever wanted to replay an important conversation, or cherish a memory in detail? With SubtitlesIRL, listen back and read through your conversations, making every interaction a learning opportunity or a treasured memory.",
    icon: "bx:bxs-data",
  },
  {
    title: "Searchable Transcripts",
    description:
      "Dive back into your conversations with ease. Our intuitive search lets you find key moments and words without the hassle of endless scrolling.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Coming Soon: Live Translations",
    description:
      "Ready to dismantle language barriers? Our upcoming feature promises a world where conversations are boundless, connecting you with people from various linguistic backgrounds effortlessly.",
    icon: "bx:bxs-file-find",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Key Features That Set Us Apart
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Instant Transcripts: Stay in the loop with real-time captions for every conversation.
  </p>
  <p class="text-lg mt-4 text-slate-600">Audio Playback: Miss something? Relive conversations with audio playback.</p>
  <p class="text-lg mt-4 text-slate-600">Effortless Search: Pinpoint any conversation or keyword with our powerful search feature.</p>
  <p class="text-lg mt-4 text-slate-600">Enhanced Accessibility: Communication is for everyone. We’re here to make it more accessible, especially for individuals with hearing challenges.</p>
  <p class="text-lg mt-4 text-slate-600">Privacy First: Your conversations are yours alone. With our commitment to security, enjoy encrypted, locally stored recordings and transcripts. Your data, your control.</p>
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
