---
const { align = "center" } = Astro.props;
---

<div class:list={["mt-16", align === "center" && "text-center"]}>
  <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    <slot name="title">SubtitlesIRL</slot>
  </h1>
  <p class="text-lg mt-4 text-slate-600">
    <slot name="desc">Ever wished you could see subtitles for real-life conversations, just like in movies? With SubtitlesIRL, powered by Vision Pro technology, now you can! Dive into a world where no word is missed, and every conversation is an opportunity to connect deeper.
    </slot>
  </p>
</div>
